$dark-blue: #1b273c;
$dark-blue2: rgba(27, 39, 60, 0.5);
$dark-blue3: rgba(27, 39, 60, 0.9);
$white: #ffffff;


// laout
@import "settings/normalize.scss";
@import "settings/bootstrap.scss";
@import "settings/setting.scss";
@import "settings/font-awesome.scss";
@import "settings/fonts.scss";

@import "sections/main-page.scss";
@import "sections/main-page-anim.scss";
@import "sections/cat__item.scss";

@import "sections/adaptive.scss";

