$dark-blue: #1b273c;
$dark-blue2: rgba(27, 39, 60, 0.5);
$dark-blue3: rgba(27, 39, 60, 0.7);
$white: #ffffff;
$white1: rgba(255, 255, 255, 0.5);

// laout
@import "settings/normalize.scss";
@import "settings/bootstrap.scss";
@import "settings/animate.scss";

@import "settings/setting.scss";
@import "settings/font-awesome.scss";
@import "settings/fonts.scss";
@import "../libs/slick/slick.scss";
@import "../libs/slick/slick-theme.scss";

@import "sections/main-page.scss";
@import "sections/main-page-anim.scss";
@import "sections/cat__item.scss";
@import "sections/material.scss";
@import "sections/material-anim.scss";
@import "sections/gallery.scss";
@import "sections/contacts.scss";
@import "sections/about.scss";


@import "sections/adaptive.scss";

