
@media screen and (max-width: 1539px) {
  .desctop-nav {
    padding-top: 50px;
  }
  .catalog a {
    height: 190px;
    padding: 32px;

  }
  .block2:before {
    right: -139px;
  }
  .catalog:before,
  .catalog:after {
    top: 87px;
  }
  .left-side__desctop {
    left: 41px;
  }
  .logo {
    padding-top: 115px;
  }
  .main-menu__phone {
    color: $white;
    right: 12%;
  }
  .left-side__desctop-wrapper {
    min-height: auto;
  }
}
@media screen and (max-width: 979px) {
  .main-wrapper {
    background: $dark-blue;
  }
  .block2:before {
    right: -246px;
  }
  .left-side__desctop {
    left: 30px;
  }
  .left-side__desctop {
    left: 30px;
    bottom: 30px;
  }
  .logo {
    padding-top: 47px;
  }
  .main-menu__phone {
    bottom: 13%;
  }
  .main-menu__contacts {
    position: absolute;
  }    
  .catalog {
    position: relative;
    right: -92px;
  }
  .catalog:before, .catalog:after {
    top: 55px;
}
  .catalog:before {
    left: 50px;
  }
  .catalog a {
    height: 132px;
    padding: 12px;
  }
  
}

@media screen and (max-width: 749px) {
  
  .main-page {
    background-size: 100% 80%;
    background-position: center;
  }
  .main-header__desctop {
    display: none;
  }
  .block2 {
    display: none;
  }
  .block {
    display: block;
  }
  .main-header__mobile {
    display: block;
  }
  
  .logo {
    width: 145px;
    min-height: 172px;
    padding-top: 18px;
  }
  
  .block:before {
    width: 100%;
    height: 120%;
    position: absolute;
    top: 10%;
    left: -9%;
    -webkit-transform: rotate(-64deg);
    -ms-transform: rotate(-64deg);
    transform: rotate(-64deg);
    -webkit-transform-origin: left top;
    -ms-transform-origin:  left top;
    transform-origin: left top;
  }
  .social-icon {
    padding-top: 44px;
    position: absolute;
    right: 27px;
  }
  
  .main-menu__phone {
    margin-left: -20px;
    padding-top: 32px;
    text-align: right;
    position: static;
    color: $white;

  }

  .main__title {
    padding-top: 200px;
  }
  .catalog{
    padding-top: 20px;
    position: relative;
  }
  .catalog:after {
    content: "";
    display: block;
    position: absolute;
    top: auto;
    left: 31px;
    width: 10px;
    height: 15px;
    background: url('../img/arrow-right.png');
    background-size: 100% 100%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  } 
  .catalog:before {
    display: none;
  }
  .catalog a {
    padding: 0;
    width: 100px;
    height: 220px;
    writing-mode: horizontal-tb;
    font-size: 16px;
    text-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  
}

@media screen and (max-width: 690px) {

 .block:before {
 //   width: 292px;
  //  height: 495px;
    top: -1%;
    left: -23%;
  }
  .catalog {
     right: auto; 
  }
}

@media screen and (max-width: 480px) {
  .logo {
    width: 109px;
  }
  .main-menu__phone {
    text-align: right;
  }
  .main-menu__contacts {
    position: static; 
  }
  .block:before {
  //    width: 369px;
  //    height: 455px;
    top: -6%;
    left: -46%;
  }

}

@media screen and (max-width: 320px) {
  .logo {
    width: 109px;
  }
  .main-menu__phone-item span {
    font-size: 19px;
}
  
  .block:before {
  //    width: 369px;
  //    height: 455px;
    top: -10%;
    left: -111%;
  }




}


