
@media screen and (max-width: 1539px) {
  .desctop-nav {

  }
  .catalog a {
    height: 190px;
    padding: 32px;

  }
  .block2:before {
    right: -139px;
  }
  .catalog:before,
  .catalog:after {
    top: 87px;
  }
  .left-side__desctop {
    left: 41px;
  }
  .logo {
    padding-top: 115px;
  }
  .main-menu__phone {
    color: $white;
    right: 12%;
  }
  .left-side__desctop-wrapper {
    min-height: auto;
  }
  /*cat*/
  .catalog-page__figure {
    font-size: 36px;
  }
  .catalog-page__ed {
    font-size: 15px;
  }
  .catalog-page__name {
    font-size: 18px;
  }
  /*mt*/
  .block2--move-to-left-mt--fix {
    left: 177px;
  }
  .block2--move-to-left-mt--fix .block2__container {
    left: -95px;
  }
  .back-to {
    left: -63px;
  }
  .hight-eco {
    display: none;
  }
  .mt-page .block2 {
    left: 211px;
  }
  .mt-page .block2__container {
    left: -130px;
  }
  .mt-page .img-title {
    width: 85%;
  }
  .mt-page .main-menu__phone {
    color: $dark-blue;
    right: 12%;
  }
  .mt-page .logo {
    margin-left: 88px;
  }
  .mt__left-menu.open .back-to-cat {
    display: none;
  }
  .mt__left-menu.open .main-menu__phone {
    display: none;
  }
  .open .main-menu__contacts {
    bottom: 54px;
    left: 64px;
  }


  .mt-page .logo {
    margin-top: 24px;
    margin-left: 28px;
  }
  .mt__title  {
    font-size: 56px;
  }
  .mt__subtitle  {
    font-size: 36px;
  }
  .mt__title--exampl {
    font-size: 9px;
  }
  .block2__container .social-icon--anim {
    top: 151px;
  }
  .tabs li a {
    font-size: 18px;
  }
  .examples-panel {
    position: absolute;
    right: 0;
  }
  .tabs li a {
    padding-left: 10px;
    padding-right: 10px;
  }
  .make-calc {
    font-size: 16px;
    padding: 3px 9px;
  }
  .social-icon--anim {
    font-size: 19px;

  }

}

@media screen and (max-width: 1390px) {
  .cat__items {
    font-size: 14px;
  }
  .cat__item--left:after {
    right: -55%;
    top: 45%;
  }
  .cat__item__active {
    font-size: 32px;
  }
  .block3:before {
    left: -290px;
  }
  .catalog-page__right {
    padding-left: 39px;
  }
  .main-menu__phone-item span {
    font-size: 22px;
  }
  .catalog-page--bg {
    width: 61%;
  }
  .catalog-page__right {
    top: 0;
    padding-top: 55px;
  }
}

@media screen and (max-width: 979px) {
  .main-wrapper {
    background: $dark-blue;
  }
  .block2:before {
    right: -246px;
  }
  .left-side__desctop {
    left: 30px;
  }
  .left-side__desctop {
    left: 30px;
    bottom: 30px;
  }
  .logo {
    padding-top: 47px;
  }
  .main-menu__phone {
    bottom: 13%;
  }
  .main-menu__contacts {
    position: absolute;
  }    
  .catalog {
    position: relative;
    right: -92px;
  }
  .catalog:before, .catalog:after {
    top: 55px;
}
  .catalog:before {
    left: 50px;
  }
  .catalog a {
    height: 132px;
    padding: 12px;
  }
  /*anim*/
  .catalog-page--anim {
    height: auto;
  }
  .prod__item {
    min-height: 168px;
  }
  .cat__item--overlay {
    width: 90%;
  }
  .catalog--anim--visible .catalog {
    right: auto;
  }
  /*cat*/
  .mt-main-header__mobile .block2__container {
    position: relative;
    width: 106%;
    margin-left: -118px;
    padding-right: 0;
}
  .block3:before {
    left: -425px;
  }
  .cat__item__active {
    margin: 12px 0;
  }
  .block3:before {
    left: -466px;
  }
  .tabs li a {
    font-size: 14px;
    padding: 10px;
  }
  .mt-main-header__mobile .block2__container .social-icon {
    top: 143px;
    left: 15px;
  }
  /*mt*/
  .mt__left-menu.open .back-to-cat {
    display: none;
  }
  .mt__left-menu.open .main-menu__phone {
    display: none;
  }
  .open .main-menu__contacts {
    bottom: 54px;
    left: 64px;
  }
  .mt-page .block2 {
    top: 105px;
  }
  .mt__title {
    font-size: 46px;
  }
  .mt__subtitle {
    font-size: 28px;
  }
  .social-icon750__mail {
      position: absolute;
      right: -90px;
      top: -135px;
  
  }
  .social-icon750__phone {
      position: absolute;
      right: -90px;
      top: -86px;
  }
  .mt-page .img-title {
    margin-top: 75px;
  }
}

@media screen and (max-width: 749px) {

  .main-page {
    background-size: 100% 80%;
    background-position: center;
  }
  .main-header__desctop {
    display: none;
  }
  .block2 {
    display: none;
  }
  .block {
    display: block;
  }
  .main-header__mobile {
    display: block;
  }
  
  .logo {
    position: static;
    width: 145px;
    min-height: 172px;
    padding-top: 18px;
  }
  
  .block:before {
    width: 100%;
    height: 120%;
    position: absolute;
    top: 10%;
    left: -9%;
    -webkit-transform: rotate(-64deg);
    -ms-transform: rotate(-64deg);
    transform: rotate(-64deg);
    -webkit-transform-origin: left top;
    -ms-transform-origin:  left top;
    transform-origin: left top;
  }
  .social-icon {
    padding-top: 44px;
    position: absolute;
    right: 27px;
  }
  
  .main-menu__phone {
    margin-left: -20px;
    padding-top: 32px;
    text-align: right;
    position: static;
    color: $white;

  }

  .main__title {
    padding-top: 200px;
  }
  .block:before {
    //   width: 292px;
     //  height: 495px;
       top: -1%;
       left: -23%;
     }
     .catalog {
        right: auto; 
        padding-top: 20px;
        position: relative;
     }
     .catalog-page--bg {
       padding-top: 207px;
     }
     .cat__page-mob.catalog--anim--visible {
       display: block;
     }
     .cat__page-mob {
       width: 80%;
     }
     .cat__page-mob .social-icon {
       top: 0;
       right: 0;
       padding-top: 90px;
     }
     .catalog-page__right--mob {
       display: none;
     }
     .cat-mob {
       background-color: $white;
     }
     .cat__item--left {
       display: none;
     }
     .catalog-page--bg {
       width: 92%;
       left: 4%;
     }
     .cat__item--bg {
       min-height: 195px;
     }
     .cat__item--bg {
       position: relative;
     }
     .catalog-page__color {
       position: absolute;
       width: 100%;
       bottom: 5px;
     }
     .catalog-page__color>div {
       display: inline-block;
     }
     .catalog-page__name { 
       font-size: 32px;
       padding: 19px 239px 6px 19px;
     }
     .catalog-page__figure {
       position: absolute;
       right: 32px;
       bottom: 26px;
   
     }
     .catalog-page__ed {
       position: absolute;
       right: 10px;
       top: 10px;
     }

  .catalog:after {
    content: "";
    display: block;
    position: absolute;
    top: auto;
    left: 31px;
    width: 10px;
    height: 15px;
    background: url('../img/arrow-right.png');
    background-size: 100% 100%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  } 
  .catalog:before {
    display: none;
  }
  .catalog a {
    padding: 0;
    width: 100px;
    height: 220px;
    writing-mode: horizontal-tb;
    font-size: 16px;
    text-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  /*anim*/
  .catalog-page--anim {
    padding-top: 205px;
    width: 100%;
    left: auto;
  }
  .catalog--anim--visible {
    background-color: $dark-blue;
    top: 0;
    left: auto;
    padding: 33px 28px 36px 28px;
    writing-mode: horizontal-tb;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    z-index: 3;
    width: 60%;
  }
  .catalog--anim--visible .catalog {
    font-size: 46px;
  }
  .catalog--anim--visible .catalog:after {
    content: none;
  }
  .catalog--anim--visible .catalog-smaller {
    font-size: 32px;
  }
  .catalog--anim--visible .catalog-smaller {
    margin-top: 0;
  }
  .menu-toggle {
    z-index: 4;
  } 
  .main-header__mobile .fa-envelope-o,
  .main-header__mobile .fa-phone {
    display: block;
    z-index: 3;
  }
  .desctop-nav--anim {
    display: none;
  }
  
  .social-icon-anim .fa-envelope-o,
  .social-icon-anim .fa-phone {
    z-index: 4;
    position: relative
  }
  .catalog-page__right--mob {
    display: block;
    background-color: $white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 10%;
  }
  .cat-mob {
    background-color: $dark-blue;
  }
  .catalog-page--bg {
    width: 76%;
  }

  .fa-catalog-page__right--mob {
    color: $dark-blue;
  }
  .fa-youtube-play.fa-catalog-page__right--mob {
    margin-top: 50px;
  }
  .catalog__tomain {
    font-size: 14px;
    text-transform: none;
  }
  .cat__item {
    width: 96%;
    margin: 2%;
    float: none;
  }
  /*mt*/
  .mt-page .logo {
    display: none;
  }
  .block__mt:before {
    bottom: -5%;
    right: auto;
    top: auto;
    left: 102%;
    -webkit-transform: rotate(-64deg);
    -ms-transform: rotate(-64deg);
    transform: rotate(-64deg);
    -webkit-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    transform-origin: right bottom;

  }
}

@media screen and (max-width: 689px) {



  .mt__left-menu--mobile {
    display: block;
    position: absolute;
    right: 20px;
    top: 28px;
  }
  .mt__left-menu {
    display: none;
  }
  .mt__left-menu--mobile .one,
  .mt__left-menu--mobile .two,
  .mt__left-menu--mobile .three {
    background-color: $white;
  }
  .block__mt:before {
    left: 503px;
  }
  .tabs li a {
    font-size: 28px;
  }

}
@media screen and (max-width: 479px) {
    .block:before {
    left: -197px;
  }
  .logo {
    width: 109px;
  }
  .main-menu__phone {
    text-align: right;
  }
  .main-menu__contacts {
    position: static; 
  }
  .block:before {
  //    width: 369px;
  //    height: 455px;
  top: 41px;
  left: -112px;
  }
  .main-menu__phone-item span {
    font-size: 19px;
  }
  .social-icon {
    right: -8px;
  }
  .main__title {
    padding-top: 129px;
  }
  .catalog-page__name { 
    font-size: 32px;
    padding: 19px 79px 6px 19px;
  }
  .block__mt:before {
    left: 503px;
    top: auto;
  }
  
}


@media screen and (max-width: 390px) {

    .block:before {
  //    width: 369px;
  //    height: 455px;
  top: 84px;
  left: -234px;
  }
  .social-icon-anim .fa-envelope-o,
  .social-icon-anim .fa-phone {
    font-size: 25px;
   
  }
  .fa-instagram--anim {
     z-index: 4;
     position: relative;
     font-size: 25px;
     top: -16px;
  }
  .main-page {
    min-width: 320;
  }
  .catalog-page__name {
    padding: 13px 32px 6px 19px;
    font-size: 22px;
  }
  .cat__page-mob .social-icon {
    top: 33px;
  }
  .block__mt:before {
    left: 503px;
    top: auto;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    width: 109px;
  }

  





}


