
@media screen and (max-width: 479px) {
  .main-menu__phone {
    left: 10px;
    top: 14px;
  }
  .main-menu__contacts {
    left: 19%;
  }
 
  .logo {
    width: 108px;
  }
  .main__title {
    font-size: 37px;
  }
  .main-header__desctop {
    width: 100vw;
  }
  
  .catalog {
    padding-top: 10px;
    right: 28vw;
  }
  .block2:before {
    width: 736px;
    height: 747px;
  }
  .main-wrapper--anim .social-icon-call {
    z-index: 1;
  }
  /*anim*/
  .main-wrapper--anim .social-icon-call {
    right: 15px;
  }
  .catalog-title--anim {
    font-size: 39px;
  }
  .catalog-title--anim .catalog-smaller {
    font-size: 25px;
  }
  .overlay--menu {
    left: 55%;
  }
  /*cat*/
  .cat__social-icon-call {
    top: 109px;
  }
  .catalog-page__name {
    font-size: 25px;
  }
  .catalog-page__figure {
    font-size: 25px;
  }
  .prod__item--overlay__figure:before {
    height: 99vw;
    bottom: -52px;
  }
  .cat__social-icon-call {
    z-index: 1;
  }
  /*mt*/
  .mt-descr .hight-eco {
    left: 47%;
  }
  .main-wrapper__mt .hight-eco img {
    width: 28px;
  }
  .main-wrapper__mt--anim .hight-eco img {
    width: 38px;
  }
  .main-wrapper__mt .mt__block2 {
    padding-top: 121px;
  }
  .main-wrapper__mt--anim .mt__block2 {
    padding-top: 97px;
  }
  .main-wrapper__mt .mt__block2:before {
    top: -38px;
    right: -77px;
  }
  .main-wrapper__mt--anim .mt__block2:before {
    top: -71px;
    right: -77px;
  }
  .mt__social-icon .nav-right--color {
    font-size: 43px;
  }
  .mt__social-icon__mail,
  .mt__social-icon__phone {
    font-size: 38px;
  }
  .mt-descr {
    width: 74%;
  }
  .mt-descr {
    font-size: 10px;
  }
  .img-title {
    display: none;
  }
  
 
  .mt__social-icon__mail {
    top: -96px;
  }
  .mt__social-icon__phone {
    top: -54px;
  }
  .make-calc {
    font-size: 15px;
    padding: 6px 18px;
  }
  .mt__title--exampl {
    top: 10px;
  }
  .mt__item.rotate {
    top: auto;
    bottom: -80px;
  }
  
  .mt__menu-toggle.on + nav {
    left: 28px;
  }
  .mt__nav-left .mt__social-icon-open {
    display: none;
  }
  .mt__nav-left-open .mt-menu__phone {
    left: 27px;
  }
  .main-menu__phone-item span {
    font-size: 16px;
  }
  /*mt anim*/
  .main-wrapper__mt--anim .block2--move-to-left-mt--fix:before {
    bottom: 175px;
  }
  .har__items__count {
    width: 34%;
  }
  .har__items__count--right {
    width: 39%;
  }
  .har__items__count span {
    width: 59px;
  }
  /*map*/
  .menu__phone-item {
    font-size: 9px;
  }
  .main-menu__phone-item span {
    font-size: 14px;
  }
  .main-menu__adress {
    font-size: 12px;
  }
  .logo-contacts {
    width: 61px;
  }
  .main-menu__contacts-contacts {
    left: -24vw;
  }
  /*about*/

  .page-about__title {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 19px;
  }
  .page-about__text p {
    font-size: 14px;
    margin-bottom: 14px;
  }
  .page-about__block {
    padding: 10px 20px;
  }
  /*articles*/
  .filter-item.on {
    min-width: 300px;
  }
  .filter-item-main {
    min-width: 300px;
  }
  /*ukladka*/
  .stair__txt {
    max-width: 73%;
  }
  .page-ukladka__block50-txt {
    max-width: 50%;
  }
  .page-ukladka__block50-img {
    width: 100%;
  }
  .page-ukladka__block50-txt {
    width: 100%;
    max-width: none;
  }
  /*popup*/
  .popup__block2 {
    padding-top: 0;
    min-height: auto;
    height: 100%;
  }
  .popup__block2 .block2__container {
    left: 0;
  }
  .popup-form-1 input {
    width: 58px;
    font-size: 10px;
  }
  .popup-form-content label {
    width: 40%;
 }
  .radio__item label {
    width: 62px;
  }
  .popup__content {
    width: 100%;
  }
  .popup-form__qa-ans {
    top: 38px;
  }
  .popup-btn-wrap {
    margin-top: 5px;
  }
  .popup__content {
    padding-top: 6px;
  }
  .popup-cross {
    left: 54px;
    top: 11px;
  }
  .popup-btn {
    min-height: 39px;
  }
  .popup-form-confident label {
    margin-left: 36%;
  }
  .popup__block2:before {
    top: -48%;
  }
  .page-design__title-main {
    font-size: 18px;
}
  .accordeon {
    font-size: 15px;
  }
  .design-main__name {
    width: 100%;
    padding-bottom: 14px;
  }
  .design-main__description {
    width: 100%;
  }
}
@media screen and (max-width: 440px) {
  .page-about__form ul {
    font-size: 30px;
  }
}