@media screen and (max-width: 1539px) {
  .block2 {
    min-height: 480px;
  }
  .block2:before {
    right: auto;
    left: -27px;
    min-width: 480px;
    min-height: 480px;
  }
  .main-header__desctop {
    left: 42px;
    bottom: 12vh;
    width: 468px;
    padding: 32px 24px;
  }
  .main__title {
    font-size: 45px;
    line-height: 0.9;
  }
  .main__choice {
    padding-top: 10px;
    padding-left: 34px;
    font-size: 16px;
  }
  .block2 {
    width: 52vw;
  }
  .block2--move-to-left {
    width: 39vw;
  }
  .block2:before {
    z-index: 1;
  }
  .nav-right-wrap {
    z-index: 1;
  }
  .logo {
    width: 215px;
    height: 387px;
    padding-top: 110px;
    z-index: 1;
  }
  .logo img {
    width: 100%
  }
  .catalog span {
    font-size: 18px;
    height: 140px;
    padding: 32px;
  }
  .catalog a:before,
  .catalog a:after {
    top: 65px;
  }
  .catalog a:before {
    left: 103px;
  }
  .catalog a:after {
    left: 72px;
  }
   .main-menu__phone {
    color: $white;
    left: -87px;
    bottom: 15vh;
  }

  .main-menu__phone-item span {
    font-size: 26px;
  }


  /*anim*/
  .main-menu__phone--anim {
    left: 0;
    bottom: 74px;
    color: #1b273c;
  }
  /*cat*/
  .catalog-page--anim {
    height: 100vh;
  }
  .catalog-page__figure {
    font-size: 36px;
  }
  .catalog-page__ed {
    font-size: 15px;
  }
  .catalog-page__name {
    font-size: 18px;
  }
  .cat__item--left {
    font-size: 14px;
  }
  .cat__item__active {
    font-size: 32px;
  }
  /*mt*/
  .main-wrapper__mt--anim .mt__block2:before {
    left: -92px;
  }
  .main-wrapper__mt--anim .mt__back-to {
    top: 96px;
    left: -55px;
  }
  .main-wrapper__mt--anim .make-calc {
    top: 273px;
  }
  .main-wrapper__mt--anim .mt__social-icon__phone {
    top: 273px;
    left: 226px;
  }
  
  .main-wrapper__mt--anim .mt__social-icon__mail {
    top: 273px;
    left: 260px;
  }
  .block2--move-to-left-mt--fix .img-title {
    width: 254px;
  }
  .main-wrapper__mt .mt-menu__phone {
    color: $dark-blue;
  }
  .mt__social-icon {
    display: none;
  }





  .mt__block2:before {
    z-index: 0;
  }
  .mt__logo {
    width: 91px;
    left: 148px;
    top: 26px;
  }
  .mt__nav-left-wrap {
    padding: 24px 15px 28px;
    width: 82px;
  }
  .mt__menu-toggle {
    width: 52px;
    height: 36px;
  }
  .mt__nav__back {
    font-size: 19px;
  }
  .mt__contacts {
    bottom: 28px;
  }
  .mt-menu__phone {
    right: auto;
    left: 16px;
    bottom: 118px;
  }
  .mt-menu__phone span {
    font-size: 20px;
  }
  .mt__social-icon {
    font-size: 34px;
    bottom: 286px;
  }
  .mt-descr {
    font-size: 14px;
    bottom: 22px;
    left: 96px;
  }
  .mt__block2 {
    width: 40vw;
  }
  .img-title {
    width: 243px;
    margin-left: 41px;
  }
  .mt__title--exampl {
    font-size: 14px;
  }

  .mt__title--exampl:before {
    top: 7px;
  }
  .block2 .hight-eco {
    padding: 0;
  }
  .hight-eco {
    right: -57px;
    left: auto;
    bottom: -47px;
    display: inline-block;
  }
  .hight-eco img {
    width: 38px;
    display: inline-block;
    vertical-align: bottom;
  }


  .block2--move-to-left-mt--fix {
    left: 177px;
  }
  .block2--move-to-left-mt--fix .block2__container {
    left: -79px;
  }
  .back-to {
    left: -63px;
  }
  .mt__item {
    font-size: 14px;
    right: 38px;
    top: 209px;
  }
  .mt__item a:after {
    width: 15px;
    height: 15px;
  }
  .mt__nav-left-open {
    width: 300px;
  }
  .mt__nav-left-open .mt__contacts {
    bottom: 50px;
  }
  .mt__block2 {
    padding-top: 48px;
  }
  .mt__block2__social-icon {
    margin-right: 40px;
  }
  .mt__social-icon__mail {
    font-size: 30px;
    margin-right: 42px;
  }
  .mt__title  {
    font-size: 56px;
  }
  .mt__subtitle  {
    font-size: 36px;
  }

  .tab_content {
    padding: 0;
  }
  .examples__title {
    padding-left: 15px;
  }
  
  .block2__container .social-icon--anim {
    top: 151px;
  }
  .tabs li a {
    font-size: 18px;
  }
  .examples-panel {
    position: absolute;
    right: 0;
    top: 22;
  }
  .tab_content {
    width: 57%;
  }
  .tabs li a {
    padding-left: 10px;
    padding-right: 10px;
  }
  .make-calc {
    font-size: 16px;
    padding: 3px 9px;
  }
  .social-icon--anim {
    font-size: 19px;

  }
  .har__item fieldset {
    width: 100%;
  }
  .har__item {
    padding: 45px 3px 0 15px;
  }
  .har__items__count span {
    width: 86px;
  }
  .har__items__name {
    width: 23%;
  }
  

  .har__items__count span {
      width: 95px;
  }
  .har__items__count span {
      display: inline-block;
      width: 116px;
  }

  .har__info__items {
      font-size: 14px;
  }
  .har__items__count {
    width: 36%;
  }
  .color__item__img {
    width: 92px;
    height: 93px;
    margin-bottom: 15px;
    margin-right: 15px;
  }

  .tab3 .tab_content {
    width: 58%;
    padding: 36px 0 36px 14px;
  }
  .color__info2 {
    width: 96%;
  }
  .har__items__name--first {
    width: 60%;
  }
  .mt__nav-left-open {
    z-index: 4;
  }
  /*map*/
  .block2-contacts {
    width: 49vw;
    min-height: 795px;
  }
  .block2-contacts:before {
    z-index: 0;
    min-width: 795px;
    min-height: 795px;
  }
  .main-menu__phone-contacts {
    top: -5vw;
    left: -31vw;
    bottom: auto;
  }
  .block3-contacts:before {
    top: -55%;
    left: -44%;
    -webkit-transform: rotate(-45deg) scale(0.4, 0.4);
    -ms-transform: rotate(-45deg) scale(0.4, 0.4);
    transform: rotate(-45deg) scale(0.4, 0.4);
  }
  .block4-contacts:before {
    top: -30%;
    left: -57%;
    -webkit-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
  }
  .logo-contacts {
    width: 163px;
    padding-top: 51px;
  }
  .main-menu__mail {
    font-size: 20px;
  }
  .main-menu__adress {
    font-size: 16px;
    margin-top: 25px;
  }
  .main-menu__times {
    font-size: 13px;
    margin-top: 8px;
  }
  .main-menu__times span {
    font-size: 23px;
  }
  .main-menu__days {
    font-size: 14px;
  }
  .main-menu__phone-contacts .main-menu__phone-item {
    color: $white;
    font-size: 14px;
  }
  /*about*/
  .horizon > ul{
    padding-top: 0;
  }
  .block2-about {
    width: auto;
  }
  .page-about__block {
    padding: 10px;
  }
  .nav-right-wrap-about {
    top: -8vh;
  }
  .page-about__img {
    max-height: 164px;
    height: 164px;
    min-height: auto;
  
  }
  .page-about__text {
    min-height: 41vh;
  }
  .page-about__title {
    margin-top: 17px;
    margin-bottom: 5px;
    font-size: 16px;
  }
  .page-about__text p {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .logo-about {
    width: 112px;
    padding-top: 12vh;
    margin-left: 8vw;
  }
  .block2-about {
    min-height: 475px;
    height: 475px;
  }
  .block2-about::before {
    left: 11vw;
    top: -33vh;
    min-width: 795px;
    min-height: 795px;
  }
  .nav-right-about {
    height: auto;
    font-size: 13px;
    width: 120px;
  }
  .catalog-about span {
    padding: 15px 4px;
    height: auto;
  }
  .horizon {
    padding-top: 20px;
  }
  /*vacancies*/
  .footer-block-vacancies {
    width: 550px;
  }
  .page-vacancies__block {
    width: 460px;
  }
  .page-vacancies__title {
    margin-top: 0;
  }
  .block2-vacancies:before {
    left: 31vw;
  }
  /*article*/
  .page-articles__date {
    font-size: 13px;
    margin-top: 11px;
  }
  .page-articles__text {
    max-height: 150px;
  }
  .page-about__block:first-child {
    height: 77%;
  }
  .page-articles .page-about__text {
    min-height: 31vh;
  }
  .page-articles .horizon {
    padding-top: 0;
  }
  /*design*/
  .page-design .horizon {
    padding-top: 5px;
}
  .page-design__block2 {
    width: 49vw;
  }
  .page-design__title-top,
  .page-design__title-main {
    padding-left: 0;
  }
  .page-design__text {
    padding-top: 0;
  }
  .gift__img {
    width: 50px;
  }
  .page-about__slider {
    width: 880px;
  }
  .design-prev__img {
    width: 91px !important;
  }
  .page-about__slider-text {
    font-size: 13px;
    padding: 10px;
  }
  .footer-block-design {
    width: 610px;
  }
  .block2-design:before {
    left: 30vw;
  }
  .logo-design {
    margin-left: 24vw;
  }
  /*ukladka*/
  .page-ukladka__block2 {
    width: 885px;
    padding: 0;
  }
  
  .stair__img {
    width: 70px;
    height: 70px;
  }
  .stair {
    padding-left: 70px;
  }
  .stair-first {
    padding-left: 0;
  }
  .stair__txt {
    max-width: 308px;
  }
  .page-ukladka__title {
    padding-left: 10px;
  }
  .page-ukladka__block {
    width: 925px;
  }
  .page-ukladka__block-left {
    max-height: 505px;
    overflow: hidden;
  }
  .page-ukladka__main-title h2 {
    font-size: 24px;
  }
  .page-ukladka__block50-img {
    width: 170px;
    height: 153px;
    overflow: hidden;
  }
  /*popup*/
  .popup__content {
    font-size: 13px;
    width: 98%;
  }
  .popup-form-content label {
    width: 36%;
  }
  .popup-btn {
    min-width: 192px;
    min-height: 48px;
  }
  .radio__item label {
    width: 95px;
  }
  .popup-form-confident label {
    margin-left: 46%;
  }
  .popup-form__qa-ans {
    top: 47px;
  }
  .popup__block3:before {
    width: 233vh;
    height: 153vh;
  }
}
