@media screen and (min-width: 480px) {
    .main-menu__phone {
        margin-left: 0;
    }
    
    .logo {
        width: 145px;
        height: 157px;
      }
    .main-header__mobile:before {
      width: 321px;
      height: 488px;
    }






}
@media screen and (min-width: 750px) {}
@media screen and (min-width: 980px) {}
@media screen and (min-width: 1540px) {}

