@media screen and (min-width: 1700px) {
  .nav-right {
    padding-top: 12vh;
    width: 14vw;
  }
  .logo {
    padding-top: 12vh;
    width: 18vw;
    height: 55vh;
  }
  .prod__item--overlay__figure {
    width: 48%;
  }
  .block3:before {
    min-width: 851px;
    min-height: 806px;
  }
  .logo-contacts {
     padding-top: 33px; 
     width: 11vw;
     height: 55vh; 
  }
  .logo-about {
    padding-top: 13vh;
    width: 9vw;
    // margin-left: 8vw;
  }
  .nav-right-about {
    padding-top: 54px;
    width: 160px;
  }
  .logo-vacancies {
    margin-left: 24vw;
  }
  .page-articles .horizon {
    max-height: 90vh;
  }
  .page-about__text p {
    // font-size: 21px;
  }
  .linelist-item {
    // font-size: 21px;
  }
  /*articles*/
  .page-design__text {
    // font-size: 20px;
  }
  .mt-page--anim--visible {
    left: 33vw;
    width: 68vw;
  }
  .block2--move-to-left-mt--fix {
    left: 13vw;
  }
  .block2--move-to-left-mt--fix:before {
    right: 3vw;
    bottom: 0%;
    width: 100vh;
    height: 102vh;
  }

}
@media screen and (min-width: 2000px) {
  .block3:before {
    left: -18%;
  }
  .block2-about {
    display: flex;
    align-items: center;
  }
  .logo-about {
    padding-top: 0;
    margin-left: 3vw;
  }
}

