
@media screen and (max-width: 979px) {

  // .block2-about {
  //   min-width: 384px;
  // }
  .main-page {
    background-size: 85% 100%;
  }

  .block2 {
    width: 36vw;
  }
  .main-wrapper {
    background: $dark-blue;
  }
  .main-header__desctop {
    left: 14px;
    bottom: 17px;
  }
  .logo {
    width: 188px;
    height: 295px;
    padding-top: 53px;
  }
  .nav-right-wrap--anim {
    width: 65px;
  }
  .nav-right {
    width: 64px;
    padding-left: 16px;
    padding-top: 11px;
  }
  .nav-right .menu-toggle {
    display: block;
    position: relative;
    z-index: 12;
  }
  .nav-right nav {
    display: none;
  }
  .on + nav {
    display: block;
    position: fixed;
    z-index: 12;
    right: 4%;
    top: 24%;
    color: $dark-blue;
  }
  .on + nav a {
    color: $dark-blue;
  }
  .on + nav .main-menu__item:hover:before {
    background-color: $dark-blue;
  }
  .on + nav .main-menu__item--active:before {
    background-color: $dark-blue; 
  }
  .main-menu__contacts:before {
    background-color: $dark-blue;
  }
  .on .one,
  .on .two,
  .on .three {
    background-color: $dark-blue;
  }
  .nav-right--anim .one,
  .nav-right--anim .two,
  .nav-right--anim .three {
    background-color: $dark-blue;
  }
  .catalog span {
    height: 148px;
    padding: 34px 10px;
  }
  .catalog a:before {
    display: none;
  }
  .catalog a:after {
    left: 29px;
  }
  .main-menu__contacts {
    position: absolute;
    bottom: 80px;
    left: 83px;
  }
 
  .main-menu__phone {
    left: 0;
    bottom: 23vh;
  }
  .main-page--anim {
    background-size: 92% 100%;
  }
  .catalog-page--anim {
    width: 86%;
  }
  .main-menu__contacts--anim {
    bottom: 54px;
    left: auto;
    right: 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .main-wrapper--anim {
    background-color: $white;
  }
  .nav-right--anim .one,
  .nav-right--anim .two,
  .nav-right--anim .three{
    background-color: $dark-blue;
  }
  .nav-right--anim .on + nav {
    right: 4%;
    top: 24%;
    left: auto;
    transform: none;
    margin-right: auto;
  }
  .overlay--menu {
    display: block;
    left: 78%;
    background: $white;
    
  }
  .main-page--anim .nav-right-wrap {
    z-index: 3;
  }
  .catalog__tomain {
    font-size: 14px;
    text-transform: none;
    position: absolute;
    right: 45%;
    top: 10%;
    z-index: 4;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .prod__item {
    padding: 10px 16px;
  }
  .main-menu__phone--anim {
    display: none;
  }
 
  .prod__item--overlay__figure:before {
    width: 150%;
    height: 150%;
    bottom: -29px;
    left: -99px;
  }
  .cat__items {
    font-size: 16px;
  }
  .cat__item--overlay {
    width: 92%;
  }

  /*cat*/
  .block3:before {
    min-width: 485px;
    min-height: 485px;
  }
  .main-page {
    min-height: 485px;
  }
  .cat__wrapper {
    min-height: 485px;
  }
  .block3:before {
    left: -38%;
  }
  .cat__wrapper {
    background-color: #ffffff;
  }
  .catalog-page--bg {
    width: 94%;
    z-index: 0;
  }
  .cat__nav-right-wrap {
    width: 64px;
  }
  .cat__item--left {
    width: 158px;
  }
  .cat__item__active:after {
    content: none;
  }

  .cat__item__active {
    margin: 8px 0;
    font-size: 26px;
    line-height: 0.8;
  }
  .cat__item--left {
    font-size: 12px;
  }
  .cat__tomain-cat {
    top: -93px;
  }
  .prod__item__figure__title {
    font-size: 12px;
  }
  .prod__item--overlay__figure p {
    font-size: 9px;
  }


  .tabs li a {
    font-size: 14px;
    padding: 7px;
  }
//   .block2--move-to-left-mt--fix .img-title {
//     width: 231px;
//     margin-left: -15px;
// }
.block2--move-to-left-mt--fix .img-title {
  width: 231px;
}
   
 
  .mt-page--anim--visible {
    padding: 40px 15px 40px;
  }
  .block2--move-to-left-mt--fix .block2__container {
    left: -99px;
    padding-top: 0;
  }
  .main-wrapper__mt--anim .make-calc {
    top: 195px;
  }
  .img-title {
    margin-top: 70px;
  }
  .tab_content {
    width: 56%;
  }
  .har__title {
    font-size: 30px;
  }
  .har__items__name--first {
    width: 58%;
}
.color__item__txt {
  font-size: 16px;
}


  .open .main-menu__contacts {
    bottom: 54px;
    left: 64px;
  }
  .mt__title {
    font-size: 46px;
  }
  .mt__subtitle {
    font-size: 28px;
  }
  .mt__nav-left-wrap {
    padding-top: 13px;
    width: 63px;
  }
  .mt__menu-toggle {
    width: 33px;
    height: 19px;
  }
  .mt__menu-toggle .one,
  .mt__menu-toggle .two,
  .mt__menu-toggle .three {
    height: 4px;
    margin: 4px auto;
  }
  .mt__menu-toggle.on .one, .mt__menu-toggle.on .two, .mt__menu-toggle.on .three {
    margin: 7px auto;
  }
  .mt__nav-left-open {
    width: 250px;
  }
  .mt__menu-toggle.on + nav {
    left: 100px;
  }
  .mt__social-icon-open {
    left: 100px;
  }
  .mt__nav-left-open .mt__contacts {
    left: 100px;
  }
  .mt-menu__phone {
    display: none;
  }
  .mt__nav-left-open .mt-menu__phone {
    display: block;
    color: $dark-blue;
  }
  .block2__container .hight-eco {
    display: none;
  }
  .mt-descr .hight-eco {
    display: block;
    position: relative;
    bottom: auto;
    left: 55%;
  }

    
  .hight-eco__img {
    padding-top: 0;
  }
  .hight-eco img {
    width: auto;
  }
  .mt-descr {
    left: 63px;
  }
  .mt-page {
    background-size: cover;
  }
  .mt__block2 {
    padding-top: 0;
  }
  .make-calc {
    position: absolute;
    top: 242px;
    left: 0;
  }
  .mt__social-icon__mail {
    position: absolute;
    top: 20px;
  }
  .mt__social-icon__phone {
    position: absolute;
    top: 59px;
  }
  .mt__item {
    top: auto;
    bottom: 0;
  }

  .make-calc {
    padding: 5px 27px;
    top: 200px;
  }
  .mt__logo {
    display: none;
  }
  .mt__block2:before {
    bottom: 20%;
    left: 6px;
  }
  .mt__item a:after {
    bottom: -22px;
    top: auto;
    left: auto;
    right: 0;
    margin-bottom: -7px;
  }


  .mt-page .img-title {
    margin-top: 75px;
  }
  .mt-main-header__mobile {
    display: block;
  }
  /*map*/
  .main-menu__phone-contacts {
    left: -31vw;
    top: auto;
    bottom: -2vw;
    min-width: 198px;
  }
  .main-menu__phone-contacts .main-menu__phone-item {
    font-size: 12px;
  }
  .main-menu__phone-item span {
    font-size: 20px;
  }
  .main-menu__mail {
    font-size: 14px;
  }
  .main-menu__adress {
    font-size: 13px;
    margin-top: 16px;
  }
  .main-menu__times span {
    font-size: 19px;
  }
  .block3-contacts:before {
    top: -58%;
    left: -98%;
    -webkit-transform: rotate(-45deg) scale(0.3, 0.3);
    -ms-transform: rotate(-45deg) scale(0.3, 0.3);
    transform: rotate(-45deg) scale(0.3, 0.3);
  }
  .block4-contacts:before {
    top: -40%;
    left: -115%;
    -webkit-transform: scale(0.45, 0.45);
    -ms-transform: scale(0.45, 0.45);
    transform: scale(0.45, 0.45);
  }
  .main-menu__contacts-contacts {
    position: relative;
    left: -13vw;
    top: 0vw;
  }

  /*about*/

  .bg-body-about,
  .main-wrapper-about {
    background: transparent
  }
  .main-menu__contacts-about {
    position: relative;
    left: -30px;
    bottom: auto;
  }
  .horizon {
    padding-top: 0;
  }
  .scroll-x {
    position: relative;
  }
  .block2-about::before {
    left: 15vw;
    top: -37vh;
  }
/*vacancies*/
  .block2-vacancies {
    width: auto;
  }
  .logo-vacancies {
    margin-left: 30vw;
  }
  .block2-vacancies:before {
    left: 37vw;
  }
  /*article*/
  .page-articles__text {
    max-height: 125px;
  }
  // .page-articles {
  //   min-height: auto;
  // }
  .page-articles-filter {

  }
  // .page-articles__block {
  //   width: 350px;
  // }
  .page-articles__date {
    margin-top: 14px;
  }
  .page-articles__title {
    margin-top: 6px;
  }
  .page-articles .scroll-x {
    top: -75px;
  }
  .page-articles-filter {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
  /*design*/
  .page-design__text {
    font-size: 12px;
  }
  .page-design__block2 {
    width: 9%;
  }
  .page-design__title-top {
    font-size: 35px;
  }
  .page-about__slider {
    width: 710px;
  }
  .design-prev__img {
    width: 68px !important;
  }
  .page-about__slider-text {
    font-size: 12px;
  }
  .block2-design {
    width: auto;
  }
  .block2-design:before {
    left: 50vw;
  }
  .logo-design {
    margin-left: 43vw;
  }
/*ukladka*/
  .page-ukladka__block2 {
    width: 651px;
  }
  .stairs {
    padding-top: 10px;
  }
  .stair__img {
    width: 60px;
    height: 60px;
  }
  .stair {
    padding-left: 52px;
  }
  .stair-first {
    padding-left: 0;
  }
  .page-ukladka__title-top {
    font-size: 32px;
  }
  .page-ukladka__title-main {
    font-size: 21px;
  }
  .stair__txt {
    max-width: 269px;
  }
  .page-ukladka__title {
    padding-left: 0;
  }
  .page-ukladka__block-left {
    max-height: 436px;
  }
  .page-ukladka__block {
    width: 700px;
  }
  .page-ukladka__block-left::after {
    bottom: 9%;
  }
  .page-ukladka__block50-img {
    width: 148px;
    height: 131px;
  }
  .page-ukladka__block50-first {
    margin-bottom: 0;
  }
  /*popup*/
  .popup__block2 {
    width: 47vw;
  }
  .popup-form-1 input {
    width: 71px;
    font-size: 16px;
  }
  .popup-btn {
    position: static;
  }
  .radio__item label {
    width: 75px;
  }
  .input-wrap input::-webkit-input-placeholder {
    font-size: 10px;
  }
  .input-wrap input::-moz-placeholder          {
    font-size: 10px;
  }/* Firefox 19+ */
  .input-wrap input:-moz-placeholder:-moz-placeholder           {
    font-size: 10px;
  }/* Firefox 18- */
  .input-wrap input:-ms-input-placeholder      {
    font-size: 10px;  
  }
  .arrows {
    height: 35px;
  }
  .popup__content {
    padding-top: 23px;
  }
  .popup__block3:before {
    bottom: 14%;
    left: -5px;
  }
  .popup-form__qa-ans {
    top: 44px;
  }
}
