.page-articles .horizon {
  max-height: 90vh;
}
.horizon .page-articles__blocks {
  align-items: flex-start;
}
.page-articles__block {
  padding: 0 16px;
  width: 24vw;
}
.page-articles__block .page-about__img {
  min-height: 220px;
  height: 30vh;
}
.page-articles__date {
  font-size: 17px;
  color: $dark-blue;
  opacity: 0.3;
  margin-top: 20px;
}
.page-articles__title {
  margin-top: 0;
}
.page-articles__text {
  // max-height: 222px;
  max-height: 31vh;
  overflow: hidden;
}


.page-articles__text p {
  font-size: 13px;
  margin-bottom: 13px;
}
.more {
  display: block;
  text-align: right;
  padding: 0 23px;
  font-size: 30px;
  font-weight: bold;
  color: $dark-blue;
}
/*filter*/
.page-articles-filter {
  color: $dark-blue;
  font-size: 14px;
  margin-top: 13px;
  margin-left: 245px;
}
.filter-item-wrap {
  position: relative;
  display: inline-block;
}
.filter-item {
  position: relative;
  display: inline-block;
  padding: 14px 32px 14px 14px;
  border: 1px solid $dark-blue;
  // cursor: pointer;
  margin-right: 16px;
  min-width: 130px;
}
.filter-interesting-title-on {
  display: none;
}

.filter-item-title .fa-chevron-down {
  font-size: 11px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%) ;
  right: 16px;
}
.filter-item-main {
  position: absolute;
  top: 43px;
  border: 1px solid $dark-blue;
  border-top: none;
  background-color: $white;
  z-index: 1;
  padding: 14px 27px 19px 45px;
  min-width: 330px;
  font-size: 18px;
  // cursor: default;

}
/*checkbox*/
.checkbox__item {
  display: block;
  position: relative;
  // cursor: pointer;
}

.checkbox__item input[type="checkbox"],
.checkbox__item input[type="radio"]{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 1;
}
.checkbox__item input[type="checkbox"],
.checkbox__item input[type="radio"] {
  visibility: hidden;
}
.checkbox__item label {
  max-width: 100%;
  padding-bottom: 5px;
  font-weight: bold;
  display: block;
  vertical-align: top;
  text-align: left;
  padding-left: 27px;
  color: #666666;
  // cursor: pointer;
}
.checkbox__item label:before,
.checkbox__item label:after {
  content: '';
  display: block;
  position: absolute;
}
.checkbox__item label:before {
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  background: transparent;
  border: 1px solid $dark-blue;
  border-radius: 1px;
}
.checkbox__item label:after {
  width: 8px;
  height: 8px;
  top: 3px;
  left: 3px;
  background: $dark-blue;
  opacity: 0;
}

.checkbox__item input[type="checkbox"]:checked + label:after,
.checkbox__item input[type="radio"]:checked + label:after {
  opacity: 1;
}

.filter-item-main {
  display: none;
}
.filter-item.on {
  min-width: 330px;
  font-size: 18px;
  line-height: 14px;
  border-bottom: none;
}
.filter-item.on+.filter-item-main {
  display: block;
}
.filter-item.on .filter-interesting-title-on {
  display: block;
}
.filter-item.on .filter-interesting-title-off {
  display: none;
}
.filter-text {
  margin-top: 60px;
  text-align: right;
}
.filter-text span {
  text-decoration: underline;
  cursor: pointer;
}