.main-page {
  min-height: 795px;
}
.cat__wrapper {
  min-height: 795px;
}
.block3 {
 // right: -139px; 
  z-index: 3;
 // position: fixed;
}
.block3:before {
  content: "";
  display: block;
  position: fixed;
  width: 100vh;
  height: 100vh;
  min-width: 795px;
  min-height: 795px;
  top: 0;
  left: -28%; 
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #1b273c;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  z-index: 3;

}
.catalog-page__right {
  position: fixed;
  background-color: $white;
  height: 100vh;
  padding-left: 67px;

}
.catalog-page--bg {
  overflow-y: scroll;
  display: block;
  position: fixed;
  top: 0;
  left: 0%;
  width: 84%;
  height: 100vh;
  z-index: 2;
  // background-image: url('../img/bg-item.jpg');
  // background-size: cover;
  // background-repeat: no-repeat;
}

.catalog-page--bg a {
  display: block;
}
.cat__item--left {
  display: block;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(0, -50%) ;
  font-size: 16px;
  width: 343px;
  z-index: 3;

}
.cat__item__active {
  margin: 35px 0;
  font-size: 48px;
  text-transform: uppercase;
  position: relative;
  font-family: 'PTSans-Bold', 'Arial Narrow', Arial, sans-serif;
}
.cat__tomain {
  display: none;
}
.cat__item__active:after {
  content: "";
  display: block;
  position: absolute;
  right: -20%;
  top: 50%;
  transform: translate(0, -50%) ;
  border: 25px solid transparent;
  border-left: 25px solid $white;
  width: 0;
  height: 0;
  z-index: 3;
}
.catalog-page__figure {
  font-family: 'PTSans-Bold', 'Arial Narrow', Arial, sans-serif;
  font-size: 47px;
}  
.catalog-page__ed {
  font-size: 20px;
  opacity: 0.5;
}
.catalog-page__name {
  font-size: 22px;
  font-family: 'PTSans-Bold', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  padding-top: 50px;
}
.catalog-page__color {
  background-color: $dark-blue3;
  width: 300px;
  padding: 38px 50px;
  margin-right: 50px;
  float: right;
}

.cat__item1 {
  background-image: url('../img/cat__items/cat5-item1.jpg');
}
.cat__item2 {
  background-image: url('../img/cat__items/cat5-item2.jpg');
}
.cat__item3 {
  background-image: url('../img/cat__items/cat5-item3.jpg');
}
.cat__item4 {
  background-image: url('../img/cat__items/cat5-item4.jpg');
}
.cat__item--bg {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cat__page-mob.catalog--anim--visible {
  display: none;
}
.catalog-page__right--mob  {
  display: none;
}
.cat__item--bg:hover {
  filter: grayscale(100%); 
}
.cat__block2 {
  display: none;
}