.page-design__main-title {
  font-size: 40px;
}
.page-design__main-title .bigger {
  font-size: 50px;
  padding-top: 29%;
}
.page-design__main-title span {
  display: block;
  line-height: 0.8;
}
.page-design__block2 {
  // width: 621px;
  width: 37vw;
}
.page-design__img img {
  width: 100%;
}
.page-design__title-top {
  font-size: 38px;
  font-weight: bold;
  color: $dark-blue;
  text-align: center;
  padding-left: 100px;
}
.page-design__title-main {
  font-size: 26px;
  text-align: center;
  padding-left: 100px;
}
.page-design__title {
  margin-top: -34px;
}
.page-design__text {
  position: relative;
  font-size: 14px;
  padding: 64px 25px 0;
}
.text16 {
  font-size: 16px;
}
.text-bold {
  font-weight: bold;
}
.gift__img {
  position: absolute;
  right: 0;
  width: 131px;
}
.gift__img img {
  width: 100%;
}
/*accordeon*/
.page-design__block3 {
  width: 23vw;
}
.page-design__subtitle-1 {
  font-size: 51px;
  padding-left: 34px;
}
.page-design__subtitle-2 {
  font-size: 57px;
}
.page-design__subtitle-3 {
  font-size: 34px;
}
.page-design__subtitle-4 {
  font-size: 44px;
  text-align: right;
  padding-right: 33px;
}
.page-design__block4 {
  width: 21vw;
  max-height: 89vh;
  overflow: auto;
}
.accordeon {
  color: $dark-blue;
  font-size: 14px;
}
.accordeon-title {
  padding: 10px;
  cursor: pointer;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.accordeon-title:before {
  content: '';
  float: left;
  color: #f2f2f2;
  border: 2px solid $dark-blue;
  border-left: none;
  border-top: none;
  background-color: #d2d4db;
  width: 10px;
  height: 10px;
  line-height: 20px;
  text-align: center;
  margin-top: 7px;
  margin-right: 11px;
  transform: rotate(45deg);
}

.accordeon-title.is-opened:before {
  content: '';
  background-color: $dark-blue;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 7px;
}

.accordeon-content {
  display: none;
  padding: 10px;
} 
.accordeon-list {
  padding-left: 20px;
  li:before {
    content: "-";
    width: 10px;
    display: inline-block;
  }
}
/*slider*/
.page-about__slider {
  color: $dark-blue;
  // width: 1170px;
  font-size: 0;
  width: 45vw;
}
.design-main {
  font-size: 16px;
  max-height: 64vh;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
// .page-about__slider-right {
//   font-size: 16px;
//   vertical-align: top;
// }
.design-main__img {
  width: 100%;
  display: none;
}
.design-main__img img {
  width: 100%;
}

.design-main__title {
  position: absolute;
  width: 70%;
  right: 0;
  bottom: 33px;
  background: $dark-blue;
  padding: 14px;
  color: #fff;
}
.design-main__title p {
  color: #fff; 
}
.design-main__name {
  display: inline-block;
  vertical-align: middle;
  width: 48%;
}
.design-main__city {
  font-size: 36px;
}
.design-main__region{
  font-size: 18px;
}
.design-main__description {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
.design-prev {
  width: 91%;
  margin: 0 auto;
}
.design-prev__img--wrap {
  padding: 0 10px;
}
.design-prev-arrows {
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  width: 37px;
  height: 37px;
  color: $dark-blue;
  cursor: pointer;
  outline: none;
  transform: translate(0, -50%);
}
.design-prev .design-prev_arrow-left::before {
  padding: 11px;
}
.design-prev .design-prev_arrow-right::before {
  padding: 14px;
}
.design-prev .design-prev-arrows:hover {

}
.design-prev .design-prev_arrow-left {
  left: -39px;
  z-index: 1;
}
.design-prev .design-prev_arrow-right {
  right: -39px;
  z-index: 1;
}
.design-prev__img img {
  width: 100%;
}
.tabs__content-foto {
  display: none; /* по умолчанию прячем все блоки */
}
.tabs__content-foto.active {
  display: block; /* по умолчанию показываем нужный блок */
}

.logo-design {
  margin-left: 11vw;
}
.img-wrap-design {
  height: 82vh;
  vertical-align: bottom;
  display: flex;
  align-items: flex-end;
}
.img-wrap-design img {
  height: 60vh;
  margin-bottom: -5vh;
  display: block;
}
/*form*/
.page-about__form {
  color: $dark-blue;
  
  width: 30vw;
}
.page-about__form h2 {
  font-size: 49px;
  font-weight: bold;
}
.page-about__form ul {
  font-size: 49px;
  padding: 25px 0 25px 30px;
}
.page-about__form a {
  color: $dark-blue;
}
.page-about__form--subtitle {
  font-size: 32px;
  font-weight: bold;
}
.page-about__form--write {
  display: block;
  color: $dark-blue;
  padding-left: 20px;
  position: relative;
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid $dark-blue;
  cursor: pointer;;
}
.page-about__form--write:before {
  position: absolute;
  left: 10px;
  bottom: -10px;
  content: '';
  background-color: #fff;
  width: 10px;
  height: 10px;
  border: 2px solid $dark-blue;
  border-left: none;
  border-top: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.page-about__form--write:after {
  position: absolute;
  left: 10px;
  bottom: -5px;
  content: '';
  background-color: $dark-blue;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}