.main-wrapper {
  background: $white;
}
.main-page {
  background-image: url('../img/main-bg.jpg');

  background-repeat: no-repeat;
  background-size: 73% 100%;
  background-position: left;
  height: 100vh;
  min-width: 350px;
}

.block {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
}
.block:before {
  content: "";
  display: block;
  /*width: 369px;
  height: 455px;*/
  position: absolute;
  width: 700px;
  height: 700px;
  bottom: 6%;
  right: 1%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: $dark-blue;
  -webkit-transform-origin: center;
  -ms-transform-origin:  center;
  transform-origin: center;
}

.main-header__mobile {
  display: none;
}

.logo {
  width: 212px;
  min-height: 273px;
  padding-top: 166px;
  margin: 0 auto;
}
.main-header__desctop .main-menu__items {
  font-size: 16px;
  text-align: left;
}
.instagram-icon {
  font-size: 40px;
    padding-top: 44px;
    position: absolute;
    right: 27px;
}



/*mobile*/
.main-header__mobile>div {
  position: relative;
  z-index: 2;
}

.main-menu__contacts {

  padding-top: 6px;
}
.menu-line {
  position: relative;
}
.menu-line:before {
  content: "";
  display: block;
  position: absolute;
  left: -18px;
  top: 9px;
  width: 15px;
  height: 2px;
  background-color: #ffffff;
}


.logo img {
  width: 100%;
}

.catalog{
  padding-top: 20px;
  position: relative;
}
.catalog:after {
  content: "";
  display: block;
  position: absolute;
  left: 31px;
  width: 10px;
  height: 15px;
  background: url('../img/arrow-right.png');
  background-size: 100% 100%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
} 

/*menu*/


.menu-toggle {
  width: 34px;
  height: 24px;
  position: absolute;
  top: 8px;
  right: 25px;
  cursor: pointer;
}
.menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -ms-transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px);
}
.menu-toggle.on .two {
  opacity: 0;
}
.menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
}

.one,
.two,
.three {
  width: 100%;
  height: 4px;
  background: $white;
  margin: 4px auto;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 4em auto;
  text-align: center;
}
nav ul.hidden {
  display: none;
}
.main-header__mobile nav a {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: none;
  color: $white;
  font-size: 2em;
  line-height: 1.2;
  width: 100%;
  display: block;
}
nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.menu-toggle.on .one,
.menu-toggle.on .three {
  margin: 7px auto;
}
.main-menu.on {
  z-index: 10;
  width: 100%;
  height: 100vh;
  min-height: 300px;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
}



/*end menu*/


.main__title {
  font-size: 45px;
  font-family: 'PTSans-Bold';
  text-align: center;

}
.main__choice {
  text-align: center;
}



/*end mobile*/