.block2--move-to-left-mt {
  left: -100%;
}
.mt-page--anim--hidden {
  display: none;
}
.mt-page--anim--visible {
  display: block;
  position: absolute;
  padding: 110px 15px 40px;
  top: 0;
  left: 40%;
  width: 60%;
  height: 100vh;
  z-index: 3;
  background-color: $dark-blue;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -o-transition: 2s;
  transition: 2s ;
  overflow: auto;
}
.mt__subtitle.last-word.mt__subtitle--anim {
  padding-bottom: 76px;
}
.block2__container .social-icon--anim {
  top: 238px;
  left: 0;
}

.block2--move-to-left-mt--fix {
  left: 273px;
  position: fixed;
  z-index: 2;
}
.block2--move-to-left-mt--fix:before {
  right: -60px;
  bottom: 8%;
  width: 108vh;
  height: 108vh;
}
.block2--move-to-left-mt--fix .hight-eco {
  padding-left: 25px;
}

.back-to {
  position: absolute;
  left: -96px;
  top: 111px;
  font-size: 18px;
  font-family: 'PTSans-Bold', 'Arial Narrow', Arial, sans-serif;
  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

}

.mt__left-menu.open {
  z-index: 3;
}
/*anim2*/
.main-wrapper__mt--anim .mt__back-to {
  text-transform: uppercase;
  left: -134px;
    top: 196px;
  opacity: 0;
}
.main-wrapper__mt--anim .mt__back-to:hover {
  opacity: 1;
}
.main-wrapper__mt--anim .block2__container  {
  left: -102px;
  padding-top: 43px;
}
.main-wrapper__mt--anim .make-calc {
  position: absolute;
  left: 0;
  top: 312px;
}
.main-wrapper__mt--anim .mt__social-icon__phone {
  position: absolute;
  left: 270px;
  top: 312px;
}

.main-wrapper__mt--anim .mt__social-icon__mail {
  position: absolute;
  left: 320px;
  top: 312px;
}
.main-wrapper__mt--anim .mt__logo {
  z-index: 3;
}

/*tabs*/
#cssmenu,
#cssmenu ul,
.has-sub ,
#cssmenu ul li>a {
  list-style: none;
  line-height: 1;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
}
.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  border: none;
  position: relative;
}
.tabs ul {
  position: absolute;
  left: 0px;
  top: 50px;
  height: 70vh;
  width: 55vw;
  overflow-y: auto;
}
#cssmenu ul ul {
  display: none;
}
#cssmenu > ul > li.active > ul {
  display: block;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  cursor: pointer;
  z-index: 2;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.mt__nav-left-open {
  z-index: 4;
}




.tabs li {
  float: left;
}
.tabs li>a {
  display: block;
  padding: 10px 20px;
  font-size: 28px;
  text-decoration: none;
  text-transform: uppercase;
}
.tabs li>a:hover {
  border-bottom: 1px solid $white1;
}    
.tabs li.open, 
.tabs li.open a:hover  {
  font-weight: bold;
  border-bottom: 1px solid $white1;
}

.tab_container {
  border-top: none;

}
.tab_content {
  padding: 20px;
  font-size: 16px;
  overflow-y: auto;
  height: 72vh;
  position: fixed!important;
  width: 52%;
  padding: 36px;
}

.examples__title {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.examples-panel {
  position: absolute;
  right: -19px;
  top: 0;
  cursor: pointer;
}
.examples__img {
  margin: 1%;
}
.examples__img img {
  width: 100%;
}
.examples__img-blocks.examples__img img {
  width: 200%;
}
.tabs__content-exm {
  display: none; /* по умолчанию прячем все блоки */
}
.tabs__content-exm.active-exm {
  display: block; /* по умолчанию показываем нужный блок */
}

.examples__img-blocks {
  width: 47%;
  display: inline-block;
  overflow: hidden;
}

//1-popup
.popup {
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  background:$dark-blue2;
  z-index: 3;
}

/* Inner */
.popup-inner {
  max-width:700px;
  width:71%;
  padding:40px;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  box-shadow:0px 2px 6px rgba(0,0,0,1);
  border-radius:3px;
  background:rgba(0, 0, 0, 0.8);
  z-index: 3;
}

/* Close Button */
.popup-close {
  width:30px;
  height:30px;
  padding-top:4px;
  display:inline-block;
  position:absolute;
  top: 27px;
  right: 18px;
  transition:ease 0.25s all;
  -webkit-transform:translate(50%, -50%);
  transform:translate(50%, -50%);
  border-radius:1000px;
  background:rgba(0,0,0,0.8);
  font-family:Arial, Sans-Serif;
  font-size:20px;
  text-align:center;
  line-height:100%;
  color:#fff;
}

.popup-close:hover {
  -webkit-transform:translate(50%, -50%) rotate(180deg);
  transform:translate(50%, -50%) rotate(180deg);
  background:rgba(0,0,0,1);
  text-decoration:none;
}


//2
.har__item {
  padding: 45px 34px 0 34px;
}
.har__title {
  font-size: 50px;
  font-family: 'PTSans-Bold', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  opacity: 0.2;
  text-transform: uppercase;
  position: relative;
    top: -16px;
}
.har__info {
  padding: 0 10px 10px;
  margin-top: -16px;
}
.har__info__items {
  font-size: 16px;
  color: #ffffff;
  padding-left: 10px;
  position: relative;
}
.har__info__items:before {
  content: "-";
  position: absolute;
  left: 0;
  opacity: 0.5;
}
.har__items__name {
  opacity: 0.5;
  text-align: left;
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
.har__items__name--first {
  width: 46%;
}
.har__items__count {
  display: inline-block;
  width: 33%;
}
.har__items__count span {
  display: inline-block;
  width: 116px;
}
.har__items__count--right {
  text-align: right;
  width: 50%;
}
.har__item fieldset {
  width: 96%;
}
.har__info > li:before {
  content: "-";
  text-indent: -5px;
  opacity: 0.5;
}
//3
.tab3 .tab_content {
  width: 53%;
  padding: 36px 0 36px 31px;
}
.color__item {
  padding: 37px 0 0;
}
.color__title {
  font-size: 24px;
  color: #ffffff;
  padding-bottom: 20px;
}
.color__item__img {
  display: inline-block;
  width: 130px;
  height: 130px;
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
}
.color__item__img img {
  width: 100%;
}
.color__item__txt {
  position: absolute;
  right: 0;
  bottom: 12px;
  padding: 5px;
  background-color: #ff0000;
  font-size: 23px;
  font-family: 'Philosopher-Regular', 'Arial Narrow', Arial, sans-serif;
}
.color__info2 {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  width: 91%;
}
.color__item__txt2 {
  color: $dark-blue;
  font-size: 23px;
  text-align: center;

}
/*end tabs*/