.block2--move-to-left-mt {
  left: -100%;
}
.mt-page--anim--hidden {
  display: none;
}
.mt-page--anim--visible {
  display: block;
  position: absolute;
  padding: 40px 15px;
  top: 0;
  left: 34%;
  width: 66%;
  height: 100vh;
  z-index: 2;
  background-color: $dark-blue;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -o-transition: 2s;
  transition: 2s ;
}
.mt__subtitle.last-word {
  padding-bottom: 76px;
}
.block2__container .social-icon--anim {
  top: 202px;
  left: 0;
}
.mk-logo--anim {
  z-index: 1;
  position: relative;
}



/*tabs*/

.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  border: none;
}
.tabs li {
  float: left;
}
.tabs li a {
  display: block;
  padding: 10px 20px;
  font-size: 28px;
  text-decoration: none;
  text-transform: uppercase;
}
.tabs li a:hover {
  border-bottom: 1px solid $white1;
}    
.tabs li.active, 
.tabs li.active a:hover  {
  font-weight: bold;
  border-bottom: 1px solid $white1;
}

.tab_container {
  border-top: none;

}
.tab_content {
  padding: 20px;
  font-size: 16px;
}

/*end tabs*/