
.mt-page {
  overflow: hidden;
  background-image: url(../img/material-bg.png);
  background-size: cover;
}
.mt__logo {
  position: absolute;
  top: 20px;
  left: 170px;
  width: 134px;
}
.mt__logo img {
  width: 100%;
}
.mt__nav-left-wrap {
  right: auto;
  left: 0;
  background-color: $white;
  padding: 50px 34px 69px;
  width: 115px;
}
.mt__nav-left .mt__contacts a {
color: $dark-blue;
}
.mt__nav-left-open .main-menu__item {
  position: relative;
}
.mt__nav-left-open .main-menu__item:hover:before {
  
  content: "";
    display: block;
    width: 13px;
    height: 1px;
    position: absolute;
    left: -19px;
    top: 12px;
    z-index: 2;
    background-color: $dark-blue;
}

.mt__nav-left .mt__contacts:before {
  background-color: $dark-blue;
  content: "";
  display: block;
  width: 13px;
  height: 1px;
  position: absolute;
  left: 2px;
  top: -10px;
  z-index: 2;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.mt__nav-left-open .mt__contacts:before {
  left: -17px;
  top: 9px;
  writing-mode: horizontal-tb;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.mt__menu-toggle {
  width: 55px;
  height: 37px;
}
.mt__menu-toggle .one,
.mt__menu-toggle .two,
.mt__menu-toggle .three {
  background-color: $dark-blue;
  height: 6px;
  margin: 9px auto;
}
.mt__menu-toggle + nav {
  display: none;
}
.mt__menu-toggle.on .one,
.mt__menu-toggle.on .two,
.mt__menu-toggle.on .three {
  margin: 6px auto;
}
.mt__menu-toggle.on + nav {
  display: block;
  position: absolute;
  left: 145px;
  top: 50px;
  font-size: 17px;
  line-height: 1.5;
}
.mt__nav-left-open {
  width: 362px;
  z-index: 2;
}
.mt__social-icon {
  font-size: 34px;
  bottom: 252px;
  position: absolute;
}
.mt__social-icon-open {
  bottom: auto;
  left: 145px;
  top: 216px;
}
.mt__nav__back {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  top: 149px;
  left: 50%;
  position: absolute;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg) translateX(50%);
  -moz-transform: rotate(180deg) translateX(50%);
  -ms-transform: rotate(180deg) translateX(50%);
  -o-transform: rotate(180deg) translateX(50%);
  transform: rotate(180deg) translateX(50%);
  &:hover {
    text-decoration: underline;
  }
}

.mt__nav__back a {
  color: $dark-blue;
}
.mt__nav-left-open .mt__nav__back {
  display: none;
}
.mt__contacts {
  bottom: 92px;
  left: 20px;
  position: absolute;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.mt__nav-left-open .mt__contacts {
  
  left: 145px;
  bottom: 145px;
  writing-mode: horizontal-tb;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.mt-menu__phone {
  bottom: 46px;
  left: 40px;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.mt__nav-left-open .mt-menu__phone {
  left: 83px;
  writing-mode: horizontal-tb;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.mt__social-icon .fa-instagram {
  font-size: 39px;
}

.open .main-menu__contacts {
  bottom: 85px;
  left: 109px;
}
.back-to-cat {
  display: none;
  font-size: 30px;
  font-family: 'PTSans-Bold', 'Arial Narrow', Arial, sans-serif;
  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.open .back-to-cat {
  display: block;
}


.mt-page .logo {
  width: 90px;
  position: static;
  padding-top: 0;
  margin-top: 30px;
  margin-left: 65px;
}
.mt-descr {
  position: absolute;
  bottom: 27px;
  left: 167px;
  padding: 10px 25px;
  background-color: $dark-blue3;
  color: $white;
}
.mt-descr ul {
  list-style-type: disc;
}
.mt-descr li {
  list-style: disc;
}
.mt__block2 {
  width: 40vw;
  padding-top: 54px;
}
.mt__block2:before {
  right: -170px;
}
.mt__block2__social-icon {
  margin-right: 56px;
  text-align: right;
}
.mt__social-icon__phone {
  margin-right: 10px;
  font-size: 34px;
}
.mt__social-icon__mail {
  font-size: 34px;
  margin-right: 57px;
}

.mt-bread-crumbs {
  font-size: 14px;
  margin: 53px 20px 0 39px;

  a {
    padding: 5px 0;
    opacity: 0.8;
    &:hover {
      text-decoration: underline;
      opacity: 1;
    }
  }
}
.mt__title  {
  position: relative;
  text-transform: uppercase;
  font-size: 82px;
  line-height: 1;
  font-family: 'PTSans-Bold', 'Arial Narrow', Arial, sans-serif;
}
.mt__subtitle  {
  text-transform: uppercase;
  color: $white;
  font-size: 55px;
  line-height: 1;
  font-family: 'PTSans-Bold', 'Arial Narrow', Arial, sans-serif;
}
.mt__title--exampl {
  font-size: 18px;
  color: $white1;
  padding-left: 12px;
  position: relative;
  &:hover {
    text-decoration: underline;
    color: #fff;
  }
}
.mt__title--exampl:before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  width: 9px;
  height: 7px;
  background: url(../img/arrow-right.png);
  background-size: 100% 100%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 0.5;
}
.img-title {
  width: 353px;
  margin-left: 59px;
}
.img-title img {
  width: 100%;
}
.mt-descr .hight-eco {
  display: none;
}
.hight-eco {
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  right: 71px;
  bottom: -20px;
}
.hight-eco img {

  padding-right: 10px;
}
.hight-eco__img {
  width: 43px;
  padding-top: 23px;
}
.block2 .hight-eco {
  padding-left: 136px;
}
.block2__container {
  position: relative;

}

.make-calc {
  border: 2px solid $white;
  padding: 6px 27px;
  font-size: 24px;
  background-color: transparent;
}
.mt__item {
  position: relative;
}




.back-to-mt {
  display: none;
}
/*================
material.html
==================*/
.mt__block2__social-icon {
  margin-right: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mt__item  {
  border: 2px solid transparent;
  padding: 25px 10px;
  font-size: 18px;
  position: absolute;
  right: 50px;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.8;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  z-index: 1;
}
.mt__item:hover  {
  border: 2px solid $white;
}
.mt__item a:after {
  content: "";
  display: block;
  position: absolute;
  width: 23px;
  height: 20px;
  background: url('../img/arrow-right.png');
  background-size: 100% 100%;
  -webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
  top: 50%;
  background-size: 100% 100%;
  transform: translateY(-50%)rotate(360deg);
  right: -30px;
}
.img-title {
  width: 390px;
  margin-left: 59px;
  position: relative;
  bottom: -130%;
  left: -15%;
}
.hight-eco {
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  left: 55%;
  bottom: -12%;
  transform: translateX(-50%);
}
.block2 .hight-eco {
  padding-left: 0;
  width: 249px;
}
.tov-zn-hide {
  display: none;
}