.page-vacancies__title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 30px;
}
.page-vacancies__pre {
  padding-left: 30px;
}
.page-vacancies__vacancy {
  font-size: 31px;
}
.page-vacancy__text {
  margin: 55px 0;
}

.linelist-item {
   position: relative;
   color: $dark-blue;
   padding-left: 17px;
   font-size: 14px;
  }
.linelist-item:before {
    content:  "—";
    position: absolute;
    left: 0;
}
.page-vacancies__block {
  padding-top: 110px;
}


.footer-block-vacancies {
  width: 837px;
  background: url(../img/vacancies.png) no-repeat;
  background-size: auto 100%;
}
.block2-vacancies:before {
  left: 25vw;
}
.logo-vacancies {
  margin-left: 24vw;
}
.page-vacancies__img {
  width: 100%;
}
.page-vacancies__img img {
  width: 100%;
}
.footer-block-vacancies a.nav-right--color {
  color: $white;
}