* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	color: $white;
	font-size: 16px;
	line-height: 1.2;
	background: $dark-blue;
	position: relative;
	font-family: 'PTSans-Regular', 'Arial Narrow', Arial, sans-serif;
}

p {
	color: $dark-blue;
	margin: 0;
	padding: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
li {	
	list-style: none;
}
a {
	text-decoration: none;
	color: $white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}
/*
.container {
	height: 100%;
	position: relative;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 20px;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table; 
}

.clearfix:after {
    clear: both;
}
*/
.section-title {
	font-size: 42px;
	color: $white;
	text-align: center;
	padding-top: 80px;
}
button {
	cursor: pointer;
	border: none;
	font-weight: 700;
}
.margin0 {
  margin: 0;
}
@media (min-width: 1560px) {
	.container {
    width: 1530px;
	}
}


.rotate {
	-webkit-writing-mode: tb-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: tb-rl;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}